<template>
  <h4 t="gettingStarted.Forgot password"></h4>
  <p t="gettingStarted.Where can we send you a code to reset your password ?"></p>
  <form submit.delegate="gs.requestResetPasswordCode()" if.bind="gs && gs.step === 'forgot-password'">
    <ux-form>
      <ux-field>
        <ux-input label="${'gettingStarted.Email or phone number' | t}" value.bind="gs.forgotUsername & validate:gs.validationController" autocomplete="username"></ux-input>
        <ux-input-info></ux-input-info>
      </ux-field>
    </ux-form>
    <ar-spinner-line active.bind="gs.processing" class="getting-started__ar-spinner-line"></ar-spinner-line>
    <ux-button click.delegate="gs.requestResetPasswordCode()" size="large" if.bind="gs"><span t="gettingStarted.Next"></span></ux-button>
  </form>

  <div class="getting-started__secondary-buttons-row" if.bind="gs">
    <ux-button type="text" click.delegate="gs.goToStart()"><span t="gettingStarted.Back to login"></ux-button>
  </div>
</template>