.swissdata-input-phone {
  position: relative;
}
.swissdata-input-phone input {
  padding-left: 75px;
}
.swissdata-input-phone.prefix-length-3 input {
  padding-left: 60px;
}
.swissdata-input-phone.prefix-length-2 input {
  padding-left: 50px;
}
.swissdata-input-phone-country-selector {
  position: absolute;
  left: 50px; 
  display: flex;
  align-items: center;
  align-content: center;
  cursor: pointer;
}
.swissdata-input-phone-country-selector > img {
  width: 20px;
  margin-right: 5px;
}
.swissdata-input-phone-country-selector-list-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  cursor: pointer;
  background: white;
  opacity: 0.4;
}
.swissdata-input-phone-country-selector-list {
  position: absolute;
  left: 50px;
  width: 200px; 
  height: 200px; 
  overflow: hidden;
  background: var(--aurelia-ux--design-primary);
  border: 1px solid var(--aurelia-ux--design-primary-dark);
  z-index: 2;
  padding: 10px;
}
.swissdata-input-phone-country-selector-list-search {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  border-bottom: 1px solid var(--aurelia-ux--design-primary-dark);
  display: flex;
  align-content: center;
  align-items: center;
}
.swissdata-input-phone-country-selector-list-search input {
  width: 100%;
  padding: 10px!important;
}
.swissdata-input-phone-country-selector-list-items {
  overflow-x: hidden;
  overflow-y: scroll; 
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}
.swissdata-input-phone-country-selector-list-item {
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 12px;
  white-space: nowrap;
  color: var(--aurelia-ux--design-primary-foreground);
}
.swissdata-input-phone-country-selector-list-item > img {
  width: 20px;
  margin-right: 5px;
}