<template class="deco-field type-${_type}">
  <require from="./deco-field.css"></require>
  <let mylabel="${context(dicoContext) + 'data.label.' + (firstLetterUpper(label) || 'No label') | t}"></let>
  <template if.bind="_type === 'string'">
    <ux-field>
      <label if.bind="labelPosition === 'label'">${mylabel}</label>
      <ux-input variant="${outline ? 'outline':'filled'}" 
        value.bind="instance[property] & validate:instance.validationController" 
        if.bind="!options.textarea && variant !== 'textarea'"
        label="${labelPosition === 'floating' ? mylabel : ''}"
        placeholder="${labelPosition === 'placeholder' ? mylabel : ''}"
        disabled.bind="disabled"
        ></ux-input>
      <ux-textarea rows="4"
        auto-resize.bind="true"
        variant="${outline ? 'outline':'filled'}" 
        value.bind="instance[property] & validate:instance.validationController"
        if.bind="options.textarea || variant === 'textarea'"
        label="${labelPosition === 'floating' ? mylabel : ''}"
        placeholder="${labelPosition === 'placeholder' ? mylabel : ''}"
        disabled.bind="disabled"
        view-model.ref="textarea"
        ></ux-textarea>
      <ux-input-info if.bind="hint" t="data.hint.${hint | firstLetterUpper}"></ux-input-info>
      <ux-input-info></ux-input-info>
      <div class="field-ref-locale" if.bind="options.multilang && displayRefLocale">
        <let translation.bind="instance._refLocales[_refLocale]"></let>
        <ux-icon icon="language"></ux-icon>
        <div class="field-ref-locale__content">
          <span class="field-ref-locale__locale muted">${refLocale | langname}</span>
          <span if.bind="translation && translation[property]" class="field-ref-locale__value">${translation[property]}</span>
          <span else class="field-ref-locale__value muted"><i t="Content not available"></i></span>
        </div>
        <ux-icon if.bind="translation" icon="content_copy" click.delegate="instance[property] = instance._refLocales[_refLocale][property]"></ux-icon>
      </div>
    </ux-field>
  </template>

  <template if.bind="_type === 'integer'">
    <ux-field>
      <label if.bind="labelPosition === 'label'">${mylabel}</label>
      <ux-input variant="${outline ? 'outline':'filled'}" 
        type="number"
        value.bind="instance[property] & validate:instance.validationController"
        step="1"
        label="${labelPosition === 'floating' ? mylabel : ''}"
        placeholder="${labelPosition === 'placeholder' ? mylabel : ''}"
        disabled.bind="disabled"
        ></ux-input>
      <ux-input-info if.bind="hint" t="data.hint.${hint | firstLetterUpper}"></ux-input-info>
      <ux-input-info></ux-input-info>
    </ux-field>
  </template>

  <template if.bind="_type === 'float'">
    <ux-field>
      <label if.bind="labelPosition === 'label'">${mylabel}</label>
      <ux-input variant="${outline ? 'outline':'filled'}" 
        type="number"
        value.bind="instance[property] & validate:instance.validationController"
        label="${labelPosition === 'floating' ? mylabel : ''}"
        placeholder="${labelPosition === 'placeholder' ? mylabel : ''}"
        disabled.bind="disabled"
        ></ux-input>
      <ux-input-info if.bind="hint" t="data.hint.${hint | firstLetterUpper}"></ux-input-info>
      <ux-input-info></ux-input-info>
    </ux-field>
  </template>

  <template if.bind="_type === 'date'">
    <ux-field>
      <label if.bind="labelPosition === 'label'">${mylabel}</label>
      <ux-datepicker type="date"
        value.bind="instance[property] & validate:instance.validationController"
        formatters.bind="{date: options.dateFormat,time: 'LT',datetime: 'L LT'}"
        label="${labelPosition === 'floating' ? mylabel : ''}"
        placeholder="${labelPosition === 'placeholder' ? mylabel : ''}"
        disabled.bind="disabled"
        ></ux-datepicker>
      <ux-input-info if.bind="hint" t="data.hint.${hint | firstLetterUpper}"></ux-input-info>
      <ux-input-info></ux-input-info>
    </ux-field>
  </template>

  <template if.bind="_type === 'boolean' && variant !== 'radio'">
    <ux-field>
      <ux-list>
        <ux-list-item>
          <div class="ux-list-item__content">
            ${mylabel}
            <div class="ux-list-item__secondary-content" if.bind="hint" t="data.hint.${hint | firstLetterUpper}"></div>
          </div>
          <div class="ux-list-item__action-item">
            <ux-switch checked.two-way="instance[property] & validate:instance.validationController" disabled.bind="disabled"></ux-switch>
          </div>
        </ux-list-item>
      </ux-list>
    </ux-field>
  </template>

  <template if.bind="_type === 'boolean' && variant === 'radio'">
    <ux-field>
      <label>${mylabel}</label>
      <div class="ux-form-row">
        <!--
          Original version commented here
        <ux-radio model.bind="true" checked.bind="instance[property]"></ux-radio>
        <label t="data.label.Yes"></label>
        <ux-radio model.bind="false" checked.bind="instance[property]"></ux-radio>
        <label t="data.label.No"></label> -->
        <!-- The following is a test to try if we can place the radio inside the label -->
        <label>
          <span t="Yes"></span>
          <ux-radio model.bind="true" checked.bind="instance[property]" disabled.bind="disabled"></ux-radio>
        </label>
        <label>
          <span t="No"></span>
          <ux-radio model.bind="false" checked.bind="instance[property]" disabled.bind="disabled"></ux-radio>
        </label>
      </div>
      <ux-input-info if.bind="hint" t="data.hint.${hint | firstLetterUpper}"></ux-input-info>
      <ux-input-info></ux-input-info>
    </ux-field>
  </template>

  <template if.bind="_type === 'select' && !options.multiple && variant !== 'radio' && variant !== 'chips'">
    <ux-field>
      <label>${mylabel}</label>
      <ar-select value.two-way="instance[property] & validate:instance.validationController" placeholder.bind="options.placeholder || placeholder" disabled.bind="disabled" allow-any.bind="options.allowAny" add-extra-value-button-text.bind="options.addExtraValueButtonText">
        <ar-option repeat.for="option of options.options" value.bind="option" label="${context(dicoContext) + 'data.selectOption.' + firstLetterUpper(option) | t}"></ar-option>
      </ar-select>
      <ux-input-info if.bind="hint" t="data.hint.${hint | firstLetterUpper}"></ux-input-info>
      <ux-input-info></ux-input-info>
    </ux-field>
  </template>

  <template if.bind="_type === 'select' && options.multiple && variant !== 'radio' && variant !== 'chips'">
    <ux-field>
      <label>${mylabel}</label>
      <ar-select value.two-way="instance[property] & validate:instance.validationController" multiple.bind="true" placeholder.bind="options.placeholder || placeholder" disabled.bind="disabled" allow-any.bind="options.allowAny" add-extra-value-button-text.bind="options.addExtraValueButtonText">
        <ar-option repeat.for="option of options.options" value.bind="option" label="${context(dicoContext) + 'data.selectOption.' + firstLetterUpper(option) | t}"></ar-option>
      </ar-select>
      <ux-input-info if.bind="hint" t="data.hint.${hint | firstLetterUpper}"></ux-input-info>
      <ux-input-info></ux-input-info>
    </ux-field>
  </template>

  <template if.bind="_type === 'select' && !options.multiple && variant === 'radio'">
    <ux-field>
      <label>${mylabel}</label>
      <div class="form-row" repeat.for="option of options.options">
        <ux-radio model.bind="option" checked.bind="instance[property]" disabled.bind="disabled"></ux-radio>
        <label class="click" click.delegate="instance[property] = option">${context(dicoContext) + 'data.selectOption.' + firstLetterUpper(option) | t}</label>
      </div>
      <ux-input-info if.bind="hint" t="data.hint.${hint | firstLetterUpper}"></ux-input-info>
      <ux-input-info></ux-input-info>
    </ux-field>
  </template>

  <!-- this variant works both for multiple and !multiple if the instance[property] value is correct (array or string resp.)-->
  <template if.bind="_type === 'select' && variant === 'chips'">
    <ux-field>
      <label>${mylabel}</label>
      <ux-chip-list ux-choice-container.bind="instance[property]">
        <ux-chip repeat.for="option of options.options" ux-choice="${option}">${context(dicoContext) + 'data.selectOption.' + firstLetterUpper(option) | t}</ux-chip>
      </ux-chip-list>
      <ux-input-info if.bind="hint" t="data.hint.${hint | firstLetterUpper}"></ux-input-info>
      <ux-input-info></ux-input-info>
    </ux-field>
  </template>

  <template if.bind="_type === 'select' && options.multiple && variant === 'radio'">
    <ux-field>
      <label>${mylabel}</label>
      Not implemented yet
      <ux-input-info if.bind="hint" t="data.hint.${hint | firstLetterUpper}"></ux-input-info>
      <ux-input-info></ux-input-info>
    </ux-field>
  </template>

  <template if.bind="_type === 'array' && options.type === 'string'">
    <ux-field>
      <label if.bind="labelPosition === 'label'">${mylabel}</label>
      <ux-chip-input variant="${outline ? 'outline':'filled'}" 
        chips.bind="instance[property] & validate:instance.validationController"
        label="${labelPosition === 'floating' ? mylabel : ''}"
        placeholder="${labelPosition === 'placeholder' ? mylabel : ''}"
        disabled.bind="disabled"
        ></ux-chip-input>
      <ux-input-info if.bind="hint" t="data.hint.${hint | firstLetterUpper}"></ux-input-info>
      <ux-input-info></ux-input-info>
    </ux-field>
  </template>

  <template if.bind="_type === 'file'">
    <ux-field>
      <label>${mylabel}</label>
      <ux-file-input 
        file.two-way="instance[property] & validate:instance.validationController" 
        accept.bind="options.accepted" 
        multiple.bind="false" 
        can-remove-bg.bind="canRemoveBg"
        previews-formats.bind="options.previewsFormats"
        default-preview.bind="options.defaultPreview"
        image-export-quality.bind="options.imageExportQuality || 0.6"></ux-file-input>
      <ux-input-info if.bind="hint" t="data.hint.${hint | firstLetterUpper}"></ux-input-info>
      <ux-input-info></ux-input-info>
    </ux-field>
  </template>

  <template if.bind="_type === 'files'">
    <ux-field>
      <label>${mylabel}</label>
      <ux-file-input
        files.two-way="instance[property] & validate:instance.validationController"
        accept.bind="options.accepted"
        multiple.bind="true"
        can-remove-bg.bind="canRemoveBg"
        previews-formats.bind="options.previewsFormats"
        default-preview.bind="options.defaultPreview"
        image-export-quality.bind="options.imageExportQuality || 0.6"></ux-file-input>
      <ux-input-info if.bind="hint" t="data.hint.${hint | firstLetterUpper}"></ux-input-info>
      <ux-input-info></ux-input-info>
    </ux-field>
  </template>

  <template if.bind="_type === 'model'">
    <ux-field>
      <label>${mylabel}</label>
      <!--
      <ux-select value.bind="instance[property] & validate:instance.validationController">
        <ux-option repeat.for="option of selectOptions" value.bind="option.id">${option._label}</ux-option>
      </ux-select>
      -->
      <ar-select value.bind="instance[property] & validate:instance.validationController" placeholder.bind="options.placeholder || placeholder">
        <ar-option repeat.for="option of selectOptions" value.two-way="option.id" label="${option._label}"></ar-option>
      </ar-select>
      <ux-input-info if.bind="hint" t="data.hint.${hint | firstLetterUpper}"></ux-input-info>
      <ux-input-info></ux-input-info>
    </ux-field>
  </template>

  <template if.bind="_type === 'models'">
    <ux-field>
      <label>${mylabel}</label>
      <ar-select multiple.bind="true" value.two-way="instance[property] & validate:instance.validationController" placeholder.bind="options.placeholder || placeholder" disabled.bind="disabled">
        <ar-option repeat.for="option of selectOptions" value.bind="option.id" label.bind="option._label"></ar-option>
      </ar-select>
      <ux-input-info if.bind="hint" t="data.hint.${hint | firstLetterUpper}"></ux-input-info>
      <ux-input-info></ux-input-info>
    </ux-field>
  </template>

  <template if.bind="_type === 'metadata'">
    <ux-field>
      <label>${mylabel}</label>
      <ar-metadata value.two-way="instance[property] & validate:instance.validationController" disabled.bind="disabled"></ar-metadata>
      <ux-input-info if.bind="hint" t="data.hint.${hint | firstLetterUpper}"></ux-input-info>
      <ux-input-info></ux-input-info>
    </ux-field>
  </template>
</template>
